<!DOCTYPE html>
<html>
<head>
  <title>Word counter</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <h1>Welcome to Word Counter!</h1>

  <form action="/upload" method="post" enctype="multipart/form-data" id="uploadform" name="upload">
    Select a file to upload:
    <input type="file" name="textFile">
    <input type="submit" value="Upload">
  </form>
</body>
</html>
