<!DOCTYPE html>
<html>
<head>
  <title>Word counter</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <h1>Welcome to Word Counter!</h1>
  <textarea placeholder="Start typing, or paste your document here..." id="text-box" rows="12"></textarea>
</body>
</html>
