<!DOCTYPE html>
<html>
<head>
  <title>Word counter</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <h1> The words within your file:</h1>
  <!-- <%- message %>
  <%- Object.keys(message) %> -->

  <%- JSON.stringify(message) %>

       <% for (var i=0; i < message.length; i++) { %>
       <%- JSON.stringify(message) %>
      <% } %>


</body>
</html>
